* { margin:0; padding:0; box-sizing:border-box; }

main {
	width: 100vw;
	height: 100vh;
	margin: 0 auto;
	align-items: center;
	text-align: center;

}

header {
	position: absolute;
	z-index: 5;
	top: 0;
	width: 100%;
}

.logo {
	width: 4em;
	padding: .8em;
	float: left;
}

nav a {
	font-size: 1em;
	font-family: proxima-nova, sans-serif;
	font-style: normal;
	font-weight: 300;
	color: #666666;
	letter-spacing: .03em;
	margin: 0;
	padding: 1em 1.8em 0em 1.8em;
	text-decoration: none;
	display: inline-block;
}

nav {
	float: right;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

/*index style*/

#name-header {
	font-size: 14vw;
	font-family: rift, sans-serif;
	font-style: normal;
	font-weight: 400;
	letter-spacing: 2px;
	color: #89E6EA;
	transform: scale(1,1.25);
	margin: 0;
	position: absolute;
	bottom: 62%;
	left: 10%;
	z-index: 1;
}

#rectangle {
	width: 80%;
	height: 35%;
	background: #89E6EA;
	position: absolute;
	top: 41%;
	left: 10%;
	z-index: 2;
}

#face {
	width: 33.5vw;
	position: absolute;
	display: block;
	bottom: 0%;
	left: 33%;
	z-index: 3;
}

#catchphrase {
	font-size: 5.75vw;
	font-family: rift, sans-serif;
	font-style: normal;
	font-weight: 800;
	color: #89E6EA;
	margin: 0;
	letter-spacing: 3.5px;
	position: absolute;
	bottom: 5%;
	left: 10%;
	z-index: 4;
}

/*contact style*/

#phone, #email, #home {
	height: 34em;
	padding: 0;
	margin: 0;
	position: absolute;
	top: 9%;
	display: inline;
	z-index: 5;
}

#home img, #email img, #phone img {
	height: 100%;
}

#phone-txt, #email-txt, #home-txt {
	font-size: 68pt;
	font-family: rift, sans-serif;
	font-style: normal;
	font-weight: 400;
	color: #ff9fba;
	transform: scale(1,1.2);
	text-align: left;
	margin: 0;
	line-height: 90px;
	position: absolute;
	bottom: 10%;
	z-index: 6;
}

#phone {
	left: 13.5%;
}

#email {
	left: 39%;
}

#home {
	left: 64%;
}

#phone-txt {
	left: 14%;
}

#email-txt {
	left: 39.5%;
}

#home-txt {
	left: 64.5%;
}

/*about style*/

#about-rectangle {
	width: 80%;
	height: 35%;
	background: #89E6EA;
	position: absolute;
	top: 11%;
	left: 10%;
	z-index: 2;
}

#about-header {
	font-size: 9vw;
	font-family: rift, sans-serif;
	font-style: normal;
	font-weight: 400;
	letter-spacing: 2px;
	color: white;
	transform: scale(1,1.25);
	margin: 0;
	position: absolute;
	top: 12%;
	left: 22%;
	z-index: 5;
}

#about-face {
	width: 17vw;
	position: absolute;
	top: 11%;
	left: 10%;
	z-index: 5;
}

.about-txt {
	font-size: 13pt;
	font-family: proxima-nova, sans-serif;
	font-style: normal;
	font-weight: 300;
	color: #666666;
	letter-spacing: .03em;
	margin: 0px 145px 20px 150px;
	line-height: 26px;
	position: absolute;
	text-align: left;
	top: 36%;
	left: 17%;
	z-index: 5
}

.social img {
	height: 5.5vh;
	margin: 0em 4em 0em 4em;
}

.social {
	width: 100%;
	align-items: center;
	position: absolute;
	top: 91.5%;
}

/*writing style*/

.container {
	margin: 0 auto;
	position: relative;
	width: 80%;
}

.container:hover .overlay {
	opacity: 1;
}

.overlay {
	position: absolute;
	margin: 0 auto;
	z-index: 4;
  	width: 100%;
  	opacity: 0;
  	transition: .5s ease;
  	top: 0;
}

.overlay img {
	width: 100%;
}

.writing-cards {
	width: 100%;
	background-color: #89E6EA;
	height: 9.6em;
	display: block;
	text-align: left;
	padding: 1.6em;
	margin: 4.5em 0 4em 0;
	position: relative;
	top: 0;
}

.writing-cards h2 {
	font-size: 2.5em;
	font-family: rift, sans-serif;
	font-style: normal;
	font-weight: 300;
	color: white;
	transform: scale(1,1.25);
	letter-spacing: .1em;
	padding: .1em;
	position: relative;
	z-index: 5;
}

.writing-cards p {
	font-size: 1em;
	font-family: proxima-nova, sans-serif;
	font-style: normal;
	font-weight: 300;
	color: #666666;
	padding: .1em;
	letter-spacing: .03em;
	position: relative;
	z-index: 5;
}

/*design style*/

.design-cards {
	width: 100%;
	background-color: #ff9fba;
	height: 9.6em;
	display: block;
	text-align: left;
	padding: 1.6em;
	margin: 4.5em 0 4em 0;
	position: relative;
	top: 0;
}

.design-cards h2 {
	font-size: 2.5em;
	font-family: rift, sans-serif;
	font-style: normal;
	font-weight: 300;
	color: white;
	transform: scale(1,1.25);
	letter-spacing: .1em;
	padding: .1em;
	position: relative;
	z-index: 5;
}

.design-cards p {
	font-size: 1em;
	font-family: proxima-nova, sans-serif;
	font-style: normal;
	font-weight: 300;
	color: #666666;
	padding: .1em;
	letter-spacing: .03em;
	position: relative;
	z-index: 5;
}