* { margin:0; padding:0; box-sizing:border-box; }

#about-rectangle {
	width: 80%;
	height: 35%;
	background: #89E6EA;
	right: 0;
	left: 0;
	margin: 0 auto;
	position: absolute;
	top: 12%;
	z-index: 2;
}

#about-header {
	color: white;
	margin: 0 0 0 23vw;
	position: absolute;
	top: 10%;
	z-index: 5;
}

#about-face {
	width: 17em;
	position: absolute;
	top: 13%;
	left: 10vw;
	z-index: 5;
}

.about-txt {
	width: 58%;
	margin-left: 30vw;
	line-height: 2em;
	position: absolute;
	text-align: left;
	top: 37%;
	z-index: 5
}

.social img {
	height: 4em;
	margin: 0em 4em 0em 4em;
}

.social {
	position: absolute;
	top: 90%;
	right: 0;
	left: 0;
	margin: 0 auto;
	z-index: 6;
}

#linkedin:hover {
	content: url('images/linkedin-fill.png');
}

#facebook:hover {
	content: url('images/facebook-fill.png');
}

#tumblr:hover {
	content: url('images/tumblr-fill.png');
}

#instagram:hover {
	content: url('images/instagram-fill.png');
}

#twitter:hover {
	content: url('images/twitter-fill.png');
}