* { margin:0; padding:0; box-sizing:border-box; }
body {
}
nav {
	float:right;
}
main {
	width: 1000px;
	margin: 0 auto;
	text-align: center;
	position: relative;
	height: 100vh;
}

.logo {
	width: 5em;
	padding-right: 20px;
	float: left;
}

nav a {
	font-size: 1em;
	font-family: proxima-nova, sans-serif;
	font-style: normal;
	font-weight: 300;
	color: #666666;
	margin: 0;
	padding: 0px 20px 0px 20px;
	display: inline-block;
	text-decoration: none;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

/*index style*/

#name-header {
	font-size: 11.25em;
	font-family: rift, sans-serif;
	font-style: normal;
	font-weight: 400;
	color: #fff;
	transform: scale(1,1.25);
	position: absolute;
	top: 16%;
	z-index: 1;
}

#index-rectangle {
	width: 1000px;
	height: 250px;
	background: #89E6EA;
	position: absolute;
	top: 40%;
	5: -1
	z-index:;
	z-index: -1;
}

#face {
	height: 560px;
	position: absolute;
	display: block;
	top: 50%;
	transform: translate(-50%,-50%);
	z-index: 2;
	left: 50%;
}

#catchphrase {
	font-size: 4.55em;
	font-family: rift, sans-serif;
	font-style: normal;
	font-weight: 800;
	color: #89E6EA;
	margin: 0;
	position: absolute;
	letter-spacing: 2.85px;
	bottom: 0;
	z-index: 3;
}

/*contact style*/
#contact-rectangle {
	width: 1000px;
	height: 250px;
	background: #89E6EA;
	position: relative;
	top: 165px;
}

#phone {
	width: 285px;
	height: 540px;
	padding: 10px 0px 10px 0px;
	margin: 0px;
	position: absolute;
	top: 60px;
	left: 180px;
}

#email {
	width: 285px;
	height: 540px;
	padding: 10px 0px 10px 0px;
	margin: 0px;
	position: relative;
	top: -240px;
	left: 358px;
}

#home {
	width: 285px;
	height: 540px;
	padding: 10px 0px 10px 0px;
	margin: 0px;
	position: relative;
	top: -240px;
	left: 385px;
}

#phone-txt {
	font-size: 72pt;
	font-family: rift, sans-serif;
	font-style: normal;
	font-weight: 400;
	color: #89E6EA;
	transform: scale(1,1.2);
	margin: 0;
	line-height: 90px;
	position: relative;
	top: -455px;
	left: 50px;
}

#email-txt {
	font-size: 70pt;
	font-family: rift, sans-serif;
	font-style: normal;
	font-weight: 400;
	color: #89E6EA;
	transform: scale(1,1.2);
	margin: 0;
	line-height: 90px;
	position: relative;
	top: -735px;
	left: 360px;
}

#home-txt {
	font-size: 70pt;
	font-family: rift, sans-serif;
	font-style: normal;
	font-weight: 400;
	color: #89E6EA;
	transform: scale(1,1.2);
	margin: 0;
	line-height: 90px;
	position: relative;
	top: -900px;
	left: 680px;
}

/*about style*/
#about-header {
	font-size: 70pt;
	font-family: rift, sans-serif;
	font-style: normal;
	font-weight: 300;
	color: white;
	transform: scale(1,1.2);
	margin: 0;
	padding: 0;
	line-height: 185px;
	position: absolute;
	top: 55px;
	left: 290px;
	letter-spacing: 5px;
}

#about-rectangle {
	width: 1000px;
	height: 250px;
	background: #89E6EA;
	position: relative;
	top: 30px;
}

#about-face {
	width: 240px;
	height: 520px;
	position: relative;
	top: -215px;
}

.about-txt {
	font-size: 14pt;
	font-family: proxima-nova, sans-serif;
	font-style: normal;
	font-weight: 300;
	color: #666666;
	margin: 0px 145px 20px 145px;
	line-height: 26px;
	position: relative;
	top: -610px;
	left: 115px;
}

/*writing style*/

section img {
	width: 100%;
	position: absolute;
	float: left;
}

section h1 {
	font-size: 5em;
	font-family: rift, sans-serif;
	font-style: normal;
	font-weight: 400;
	color: #89E6EA;
	transform: scale(1,1.25);
	position: relative;
}
